
html,
body {
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  color: var(--color);
  background-color: var(--bg);
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

svg {
  display: block;
  fill: currentColor;
}

.credits {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.75rem;
}

.credits > span {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
}