{%extends 'notebook/base.html'%}
{% load crispy_forms_tags %}

{% block title %}

    {{profile_user.username}} · Notebook App 

{%endblock%} 

{%block content%}

    <img src="{{profile_user.profile.pic.url}}">
    <h2>{{profile_user.username}}</h2>
    <p>{{profile_user.email}}</p>
    <p>{{profile_user.profile.bio}}</p>
    <br>
    {% if user.is_authenticated and profile_user.id == user.id %}
    <br>
        <p> To edit YOUR profile : </p>
        <a class="btn btn-outline-primary" href="{% url 'notebook:profile-edit' user.pk %}" role="button"> Edit </a> 
        <a class="btn btn-outline-primary" href="{% url 'notebook:viewprogram-create' %}" role="button"> Add view </a> <br>
        
    {% endif %}
    
    <hr><h3>Watchlist : </h3>
        <div class="wrapper">
            <div class="cards-slider owl-carousel">
                {% for view in watchlist %}
                <div class="card card-1">
                    <a href="{% url 'notebook:viewprogram-detail' view.id %}"> 
                        
                            <img class="card-img" src="{{view.program.poster.url}}" alt="{{view.program.name}}">
                            <div class="card-corpus">
                            <div class="card-text">
                                <div class="card-title">{{view.program.name}}</div>
                                <p class="text-gray-700 text-base">
                                    {{view.comment|slice:":25"}} ...
                                </p>
                            </div>
                            </div>
                    </a>
                </div>        
                {% endfor %}
            </div>
        </div>

        


    <hr><h3>In progress : </h3>

        <div class="wrapper">
            <div class="cards-slider owl-carousel">
                {% for view in in_progress %}
                <div class="card card-1">
                        <a href="{% url 'notebook:viewprogram-detail' view.id %}"> 
                            <img class="card-img" src="{{view.program.poster.url}}" alt="{{view.program.name}}">
                            <div class="card-corpus">
                            <div class="card-text">
                                <div class="card-title">{{view.program.name}} </div>
                                <p class="text-gray-700 text-base">
                                    {{view.comment|slice:":25"}} ...
                                </p>
                            </div>
                            </div>
                        
                        </a>
                </div>
                {% endfor %}
            </div>
        </div>


    <hr><h3> Finished : </h3>

        <div class="wrapper">
            <div class="cards-slider owl-carousel">
            {% for view in completed %}
                <div class="card card-1">
                    <a href="{% url 'notebook:viewprogram-detail' view.id %}"> 
                        <img class="card-img" src="{{view.program.poster.url}}" alt="{{view.program.name}}">
                        <div class="card-corpus">
                        <div class="card-text">
                            <div class="card-title">{{view.program.name}} </div>
                            <p class="text-gray-700 text-base">
                                {{view.comment|slice:":25"}} ...
                            </p>
                        </div>
                        </div>
                    </a>
                </div>
                
            {% endfor %}
            </div>
        </div>
 
    <br> 

    <!-- Calendar Block -->

    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'notebook:calendar-public' profile_user.pk  profile_user.profile.slug %}?{{ prev_month }} "> Previous Month </a>
        <a class="btn btn-info right" href="{% url 'notebook:calendar-public' profile_user.pk  profile_user.profile.slug %}?{{ next_month }} "> Next Month </a>
    </div>
    <br/>
    
    {{ calendar }}


{%endblock%}

{% block additional_js %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

<script>

    // then trigger owl Carousel
    $(".cards-slider").owlCarousel({
      loop: false,
      autoplay: false,
      autoplayTimeout: 2000,
      autoplayHoverPause: true,
      responsive: {
        0:{
          items:1,
          nav:false
        },
        600:{
          items:3,
          nav:false
        },
        1000:{
          items:3,
          nav:false
        }
      }
    });
  </script>


{%endblock%}
