{%extends 'notebook/base.html'%}
{% load crispy_forms_tags %}

{%block content%}
    <img src="{{user.profile.pic.url}}">
    <h2>{{user.username}}</h2>
    <p>{{user.email}}</p>
    <p>{{user.profile.bio}}</p>
    <br>

    {% if user.is_authenticated %}
        <p> To edit YOUR profile : </p>
        <a class="btn btn-outline-primary" href="{% url 'notebook:profile-edit' user.pk %}" role="button"> Edit </a>
        <a class="btn btn-outline-primary" href="{% url 'notebook:viewprogram-create' %}" role="button"> Add view </a> <br>
    {% endif %}
    <br> 
    
    <hr><h3>Watchlist : </h3>
    <ul>
        {% for view in watchlist %}
        <li>
            <a href="{% url 'notebook:viewprogram-detail' view.id %}">{{ view.program.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <hr><h3>In progress : </h3>
    <ul>
        {% for view in in_progress %}
        <li>
            <a href="{% url 'notebook:viewprogram-detail' view.id %}">{{ view.program.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <hr><h3> Completed : </h3>
    <ul>
        {% for view in completed %}
        <li>
            <a href="{% url 'notebook:viewprogram-detail' view.id %}">{{ view.program.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <!-- Calendar Block -->

    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'notebook:calendar' %}?{{ prev_month }}"> Previous Month </a>
        <a class="btn btn-info right" href="{% url 'notebook:calendar' %}?{{ next_month }}"> Next Month </a>
    </div>
    
    {{ calendar }}

{%endblock%}