{%extends 'notebook/base.html'%}
{% load crispy_forms_tags %}

{%block content%}
    <img src="{{profile_user.profile.pic.url}}">
    <h2>{{profile_user.username}}</h2>
    <p>{{profile_user.email}}</p>
    <p>{{profile_user.profile.bio}}</p>
    <br>
    {% if user.is_authenticated and profile_user.id == user.id %}
    <br>
        <p> To edit YOUR profile : </p>
        <a class="btn btn-outline-primary" href="{% url 'notebook:profile-edit' user.pk %}" role="button"> Edit </a> 
        <a class="btn btn-outline-primary" href="{% url 'notebook:viewprogram-create' %}" role="button"> Add view </a> <br>
        
    {% endif %}
    
    <hr><h3>Watchlist : </h3>
    <ul>
        {% for view in watchlist %}
        <li>
            <a href="{% url 'notebook:viewprogram-detail' view.id %}">{{ view.program.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <hr><h3>In progress : </h3>
    <ul>
        {% for view in in_progress %}
        <li>
            <a href="{% url 'notebook:viewprogram-detail' view.id %}">{{ view.program.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <hr><h3> Completed : </h3>
    <ul>
        {% for view in completed %}
        <li>
            <a href="{% url 'notebook:viewprogram-detail' view.id %}">{{ view.program.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <br> 

    <!-- Calendar Block -->

    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'notebook:calendar-public' profile_user.pk  profile_user.profile.slug %}?{{ prev_month }} "> Previous Month </a>
        <a class="btn btn-info right" href="{% url 'notebook:calendar-public' profile_user.pk  profile_user.profile.slug %}?{{ next_month }} "> Next Month </a>
    </div>
    <br/>
    
    {{ calendar }}


{%endblock%}

