{% extends "notebook/base.html" %} 

{% block title %}

  Notebook App · List programs 

{%endblock%} 

{% block content %}

{% if user.is_authenticated %}
  <a class="btn btn-outline-primary" href="{% url 'notebook:index' %}" role="button"> Add program </a> <br>
  <br>
{% endif %}

        <div class="posts">
  
          {% for program in listPrograms %}

                    <article class="post">
                      <a href="{% url 'notebook:program-detail' program.slug  program.pk %}"> 
                        <!-- Post title -->
                        <h3 class="post-title">
                            {{ program.name }}
                        </h3>
                      
                      <!-- Date of the post -->
                      <time datetime="2019-09-19T08:00:00-07:00" class="post-date">{{ program.source }} | {{ program.release_date}} </time>
                      
                      <!-- Post image -->
                      {% if program.poster.url != "/media/program_posters/poster_default.png" %}
                          <img src="{{program.poster.url}}" style="max-width:200px;width:100%" alt="program.name"> 
                      {% else %}
                          <img src="{{ 'https://www.themoviedb.org/t/p/w600_and_h900_bestv2'|add:program.poster_path }}" style="max-width:200px;width:100%" alt="program.name">
                      {% endif %}
                    
                    </a>
                      <!-- Show an excerpt from the article -->
                      <p id="introduction">{{program.synopsis|slice:":200" }}...</p> 
                    
                      
                      <!-- Comment count 
                      <a href="/2019/09/19/XLNet-fine-tuning/#disqus_thread">6 Comments</a>
                      -->
                      
                    </article>

          {% endfor %}  
          
        </div>

            <div class="pagination">
          
                  {% if listPrograms.has_previous %}
                      <!-- <a class="pagination-item older" href="?page=1">first</a> -->
                      <a class="pagination-item newer" href="?page={{ listPrograms.previous_page_number }}"> previous </a>
                  {% else %}
                      <a class="pagination-item newer" href="#"> previous </a>
                  {% endif %}
          
                  {% if listPrograms.has_next %}
                      <a class="pagination-item older" href="?page={{ listPrograms.next_page_number }}">next</a>
                      <!-- <a class="pagination-item newer" href="?page={{ listPrograms.paginator.num_pages }}">last &raquo;</a> -->
                  {% else %}
                      <a class="pagination-item older" href="#">next</a>
                  {% endif %}

          </div>

          <span class="current">
            Page {{ listPrograms.number }} of {{ listPrograms.paginator.num_pages }}.
          </span>
          <br/>
        <br/>
          


        {% load static %}
        <!-- bloc de l'image pour l'effet de srolling désynchronisé 
        <span class="rellax" data-rellax-speed="2" style="left: 600px;bottom: 25px;"><img src="{% static 'blog/img/kowalski.png' %}"></span>
        -->
        
        

        <!-- Code for comment counts -->
     <!--   <script id="dsq-count-scr" src="//mccormickml.disqus.com/count.js" async=""></script> -->

{% endblock %}


{% block additional_js %}

            <!-- Particular JS scripts Goes here  -->
  <script src="{% static 'js/script_shapes.js' %}"></script>
    <!--    <script src="{% static 'blog/js/vanta.birds.min.js' %}"></script>

        <script>
        VANTA.BIRDS({
          el: "#mainContent",
          backgroundColor: 0xffffff,
          /*color1: 0x181717,
          color2: 0xcbf7,*/
          color1: 0x0,
          color2: 0x9060A8,
          birdSize: 0.40,
           quantity: 3.00
        })
        </script> -->

  <style type="text/css">
    .post article{
          border-radius: 4px;
          background: #fff;
          box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
            transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        padding: 14px 80px 18px 36px;
        cursor: pointer;
      }

      .post:hover{
        border-radius: 8px;
        padding: 12px 12px 12px 12px;
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
      }


  </style>



{% endblock %}