{%extends 'notebook/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<h3>{{program.name}}</h3>
{% if program.poster.url != "/media/program_posters/poster_default.png" %}
    <img src="{{program.poster.url}}" style="max-width:200px;width:100%" alt="program.name"> <br>
{% else %}
    <img src="{{ 'https://www.themoviedb.org/t/p/w600_and_h900_bestv2'|add:program.poster_path }}" style="max-width:200px;width:100%" alt="program.name" > <br>
{% endif %}

{% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{% url 'notebook:program-edit' program.id %}" role="button"> Edit </a> <br>
{% endif %}
<div>
    
    <p>{{program.tags}}</p>
    <p>{{program.synopsis}}</p>

    <div class="date">Released {{program.release_date | naturaltime}}</div>
    <div class="tags">
        <div class="tag">Source : {{program.source}}</div>
    </div>
</div><br>
{% endblock %}