{%extends 'notebook/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}

    {{program.name}} · Notebook App

{%endblock%} 

{% block content %}
<h3>{{program.name}}</h3>
    {% if program.poster.url != "/media/program_posters/poster_default.png" %}
        <img src="{{program.poster.url}}" style="max-width:200px;width:100%" alt="program.name"> <br>
    {% else %}
        <img src="{{ 'https://www.themoviedb.org/t/p/w600_and_h900_bestv2'|add:program.poster_path }}" style="max-width:200px;width:100%" alt="{{program.name}}" > <br>
    {% endif %}
    <hr />

    <div class="list_providers">
        <p> Disponible sur :</p>
        {% for provider in program.providers.all %}
            <div class="provider">
                <a href="{{ program.watch_link }}" target="_blank">
                    <img src="{{ provider.logo_path.url }}" alt="{{ provider.name }}" width="45" height="45" >
                </a>
            </div>
        {% endfor %}
    </div>
    <hr />

    <div>
        <p>{{program.tags}}</p>
        <p>{{program.synopsis}}</p>

        <div class="date">Released {{program.release_date | naturaltime}}</div>
        <div class="tags">
            <div class="tag">Source : {{program.source}}</div>
        </div><br/>
        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'notebook:viewprogram-create' %}" role="button"> Add program view </a>
            <a class="btn btn-outline-primary" href="{% url 'notebook:program-edit' program.id %}" role="button"> Edit program</a> <br>
        {% endif %}
        <hr />

        <div class="carroussel">
            <p>Similar programs : </p>
            <ul>
                {% for similar in program.similars.all %}
                    <a href="{% url 'notebook:program-detail' similar.slug similar.id %}"><li>{{similar.name}}</li></a>
                {% endfor %}
            </ul>
            <hr />
            <a class="btn btn-outline-primary" href="{% url 'notebook:program-similars' program.pk program.slug %}" role="button"> Search similars</a> <br>
        </div>
    </div><br>
{% endblock %}

{% block additional_js %}

  <style type="text/css">

      .provider{
        display: inline-block;
        padding: 2px 2px 2px 2px;
      }

  </style>

{% endblock %}