{%extends 'notebook/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<img src="{{view.program.poster.url}}"> <br>
<a class="btn btn-outline-primary" href="{% url 'notebook:viewprogram-edit' view.pk %}" role="button"> Edit view</a> <br>
<div>
    <h3>{{view.program.name}}</h3>
    <p>Vu par {{view.profile.user.username }}</p>
    <p>Chapitre : {{view.chapter }}</p>
    <p> Statut : {{view.status}} </p>
    <div class="tags">
        <div class="tag">Source : {{view.program.source}}</div>
    </div><br>

    <p>Avis : </p>
    <p>{{view.comment}}</p>

    <div class="date">Vu il y a {{view.date | naturaltime}}</div>
    
</div><br>
{% endblock %}