{% extends "blog/base.html" %} 

{% block title %}

    {{ post.title }}  A propos

{%endblock%} 

{% block content %}
  {% load static %}
  <!-- partial:index.partial.html <div id="particles-js"></div>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'blog/css/style_particles.css' %}" >   -->
  
  

  <article class="page">
          
          <h2 class="page-title"> A propos </h2>
                <p><img class="profile_img" src="{% static 'img/profile.jpg' %}" alt="Profile picture"></p>
              <div class="main_text">
                    <p> Je suis passionné par l'intelligence artificielle, le DevOps,
                       et tout ce qui se rapproche de l'informatique et des nouvelles technologies.</p>  
                  </br>
                    <p>Cet espace est dédié à des projets et travaux personnels.
                      Ils sont constitués de projets personnels
                      pour me familiariser avec les technologies qui me passionnent, notamment celles
                      autour du big data, de l'IA, de l'étude du language naturel et du DevOps.</p>
                    </br></br>
                    <p>Je suis aussi présent ailleurs sur le web : </p>

                    <ul>
                      <li> <a href="https://www.linkedin.com/in/cyrille-noubou%C3%A9-21a4a4a0/">LinkedIn</a></li>
                      <li> <a href="https://github.com/cyrilhokage" >GitHub</a> </li>
                    </ul>
              </div>

              <h2 id="education--experience">Parcours </h2>

              <table>
                <tbody><tr><td>2019 - 2020 </td><td>TELECOM Paris, Master spécialisé Big Data et gestion des données</td></tr>
                <tr><td>2016 – 2019</td><td>ESIGELEC, Ecole d'ingénieurs généraliste</td></tr>
                <tr><td>2014 - 2016</td><td>CPII - ESIGELEC, Classes préparatoires intégrées</td></tr>
                <tr><td>2014</td><td> Baccalauréat C</td></tr>
              </tbody></table>

      
    </article>

    <!-- partial -->
    <script src='https://cldup.com/S6Ptkwu_qA.js'></script>
    

{%endblock%}



{% block additional_js %}

<!--<script type="text/javascript"  src="{% static 'blog/js/script_particles.js' %}"></script> -->
<script type="text/javascript"  src="{% static 'blog/js/script_particles.js' %}"></script>
<style type="text/css">

.page{
  background-color:white;
  padding-right:20px;
  border-radius: 10px;
}


.profile_img {

  max-width: 50%;
  height: auto;
  padding-right: 15px;
float: left;
}

.main_text {
  padding-top: 90px;
  padding-left: 10px;
display: inline-flexbox;
} 

</style>

{% endblock %}