

{% block navbar %} 

<h3 class="masthead-title">
    <div id="navbar">
      <div id="navbarContent">
      
      
            <a href="{% url 'main_home' %}"  title="Home">Cyrille NOUBOUE</a>

            <!--- Display the About, Archive, etc. pages in the header --->

                &nbsp;&nbsp;&nbsp;<small><a href="{% url 'blog:about' %}">About</a></small>

                &nbsp;&nbsp;&nbsp;<small><a href="{% url 'blog:home' %}">Projects</a></small>
                    
                {% load static %}
                &nbsp;&nbsp;&nbsp;<small><a href="{% static 'blog/pdf/CV_Cyrille_NOUBOUE.pdf' %}">Resume</a></small>

                &nbsp;&nbsp;&nbsp;<small><a href="{% url 'blog:resume' %}">Contact</a></small>
            
        </div>

      </div>
  </h3>
        <!---- I could use this to include the tag line, but it looks cluttered...
        <h3 class="masthead-title">
             <small>Machine Learning Tutorials and Insights</small>
        </h3>
        ----->


{% endblock navbar %}
